<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

      <form [formGroup]="stockDetailForm" (ngSubmit)="onSubmit(stockDetailForm.value)" class="ui form">
        <div class="field">
          <label for="exchange" class="formLable">Symbol:</label>
          <input type="text" id="symbolInput" placeholder="symbol" [formControl]="stockDetailForm.controls['symbol']" class="formFonts"
          />
        </div>

        <div class="field">
          <label for="securityType" class="formLable">Security Type:</label>
          <select formControlName="securityType" class="formFonts">
         <option *ngFor="let aSecurityType of theSecurityTypes"
             [ngValue]="aSecurityType">{{aSecurityType}}</option>
      </select>
        </div>

        <div class="field">
          <label for="exchange" class="formLable">Exchange:</label>
          <select formControlName="exchange" class="formFonts">
         <option *ngFor="let anExchange of theExchangeTypes"
             [ngValue]="anExchange">{{anExchange}}</option>
      </select>
        </div>

        <div class="field">
          <label for="expiryDate" class="formLable">Option Expiry:</label>
          <input class="formFonts" placeholder="yyyy-mm-dd" formControlName="expiryDate" [(ngModel)]="aDate" ngbDatepicker [dayTemplate]="customDay"
            [markDisabled]="isWeekend" #d="ngbDatepicker">
          <button type="button" class="btn btn-info btn-sm" style="width: 10pix" (click)="d.toggle()">
        <img src="./app/images/calendar_simple-black.png" style="width: 1rem;
                   height: 1rem; cursor: pointer;" />
      </button>
          <template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled">
            <span class="custom-day" [class.isThursday]="isThurs(date)" [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth"
              [class.text-muted]="disabled">
              {{ date.day }}
          </span>
          </template>
        </div>

        <button type="submit" class="ui button" style="font-size:12px" [disabled]="!stockDetailForm.valid">Submit</button>

      </form>

    </div>
    <div class="col-md-4">

      <p>
        Today is: <b>{{ todayIs | date }}</b><br> ExpiryDate: <b>{{ expiryDate | date }}</b><br> Days Till Experiation: <b>{{ daysTillExpiry }}</b><br>
      </p>
    </div>


    <div class="col-md-4">
      <pre>ContractID: {{aContract.contractID}}</pre>
      <pre>Symbol: {{ aContract.symbol }}</pre>
      <pre>SecurityType: {{ aContract.secType }}</pre>
      <pre>Exchange: {{ aContract.exchange }}</pre>
      <pre>ExpiryDate: {{ aDate | json }}</pre>
      <pre>expiry: {{ expiry }}</pre>
    </div>
  </div>
</div>